Repository tafia/quick-xml, pull requests merged in 2023-02, with the labels that each got.

#507 Read serde (on master)
  Cargo.toml
  examples/read_nodes_serde.rs
Labels: serde

#556 Add helper functions `to_*_with_root` that writes XML with the specified root tag name
  Changelog.md
  src/se/mod.rs
Labels: enhancement, serde

#520 Merge consequent text and CDATA events into one string
  Changelog.md
  src/de/map.rs
  src/de/mod.rs
  src/de/simple_type.rs
  src/de/var.rs
  src/events/mod.rs
  src/reader/mod.rs
  tests/serde-de.rs
Labels: bug, enhancement, serde
